.coords-container {
    display: flex;
    // top: 0;
    position: absolute;
    pointer-events: none;
    user-select: none;

    // &.ranks.black {
    //     flex-flow: column;
    // }

    &.files.black {
        margin-left: 6px;
        width: 100%;
        bottom: 6px;
    }

    &.ranks.black {
        flex-flow: column;
        align-items: end;
        margin-top: 4px;
        right: 6px;
        height: 100%;
    }

    // &.files.black {
    //     align-items: flex-end;
    //     flex-direction: row-reverse;
    // }

        // .ranks {
        //     flex-direction: column;
        // }

    // &.files {
    //     text-align: left;
    //     flex-flow: row;
    //     height: 1.4em;
    // }

    .coord {
        font-family: 'Roboto', sans-serif;
        font-weight: 600;
        font-size: 12px;
        z-index: 0;
        flex: 1 1 auto;

        &:nth-child(odd) {
            color: var(--white-square);
        }

        &:nth-child(even) {
            color: var(--black-square);
        }
    }
}