.coords-container {
    display: flex;
    position: absolute;
    pointer-events: none;
    user-select: none;

    &.ranks:not(.black),
    &.files.black {
        .coord {
            &:nth-child(odd) {
                color: var(--black-square);
            }

            &:nth-child(even) {
                color: var(--white-square);
            }
        }
    }

    &.files {
        margin-left: 6px;
        width: 100%;
        bottom: 6px;
    }

    &.files.black {
        flex-flow: row-reverse;
    }

    &.ranks {
        flex-flow: column;
        align-items: end;
        margin-top: 4px;
        right: 6px;
        height: 100%;
    }

    &.ranks:not(.black) {
        flex-flow: column-reverse;
    }

    .coord {
        font-family: 'Roboto', sans-serif;
        font-weight: 600;
        font-size: 12px;
        z-index: 0;
        flex: 1 1 auto;

        &:nth-child(odd) {
            color: var(--white-square);
        }

        &:nth-child(even) {
            color: var(--black-square);
        }
    }

}