<div class="board" [ngStyle]="{'width': boardSize + 'px', 'height': boardSize + 30 + 'px'}">
    <div class="controlls">
        <button (click)="removeBoardSize()">Down</button>
        <button (click)="addBoardSize()">Up</button>
        <button (click)="resetFen()">Reset Fen</button>
        <input type="text" name="userFen" [(ngModel)]="userFen" />
        <button (click)="setFen()">Set Fen</button>
        <a routerLink="/login" routerLinkActive="active" ariaCurrentWhenActive="page">Go to login</a>
    </div>

    <!-- <div>{{(boardState$ | async)?.boardRows}}</div> <div *ngFor="let row of (boardState$ | async)?.boardRows; let i = index">{{row}}</div> -->
    <app-square *ngFor="let tile of (boardState$ | async)?.tiles; let i = index" [tile]="tile" #sq [attr.name]="tile.squareName"></app-square>
</div>
