.square {
    background: #769656;
    position: relative;
    float: left;
    font-size: 24px;
    padding: 0;
    margin: 0;
}


.piece {
    position: absolute;
}

.clickable {
    cursor: pointer;
}

.non-empty-grab {
    cursor: grab;
}

.clicked {
    opacity: .7;
    content: "";
    position: absolute;
    background: #dada85ac;
}

.white {
    background: #eeeed2;
}
