@let tile = tileSig();
<div class="square"
    [ngClass]="[colorSig()]"
    [class.selected]="wasSquareSelected"
    (click)="onTileClicked()"
    [style.transform]="squarePosSig()"
    [style.width.px]="squareSizeSig()"
    [style.height.px]="squareSizeSig()"
    >

    <span [id]="tile.squareName + 'spanBefore'" class="clicked::before">
    </span>

    @if (tile?.piece?.type !== PieceType.Empty) {
        <img class="piece clickable"
            [src]="imgSrcSig()"
            [style.width.px]="squareSizeSig()"
            [style.height.px]="squareSizeSig()"
        />
    }
</div>
