<ng-container *ngIf="squareSize$ as squareSize">
    <div [id]="this.tile?.squareName" class="square"
       (click)="onTileClicked()"
       [ngStyle]="{ height: squareSize + 'px', width: squareSize + 'px' }"
       [ngClass]="[color]">

        <span [id]="this.tile?.squareName + 'spanBefore'"
            class="clicked::before" [class.clicked]="wasTileClicked"
            [ngStyle]="{ height: squareSize + 'px', width: squareSize + 'px' }">
        </span>
        <img class="piece clickable"
            *ngIf="tile?.piece?.type !== 'empty'"
            [style.width.px]="squareSize"
            [src]="imgSrc"
        />
    </div>
</ng-container>
