.square {
    background: #769656;
    position: relative;
    float: left;
    font-size: 24px;
    padding: 0;
    margin: 0;

    &.clicked {
        .box {
            opacity: .7;
            content: "";
            position: absolute;
            // width: 100px;
            // height: 100px;
            background-color: #dada85ac;

        }
    }

}

.piece {
    position: absolute;
}

.clickable {
    cursor: pointer;
}

.non-empty-grab {
    cursor: grab;
}

.white {
    background: #eeeed2;
}
