<div [id]="this.tile?.squareName" class="square" (click)="onTileClicked()"
   [ngStyle]="{height: (squareSize$ | async) + 'px', width: (squareSize$ | async) + 'px'}"
   [ngClass]="[color]">
<span [id]="this.tile?.squareName + 'spanBefore'" class="clicked::before" [ngClass]="tileClickedColor"
   [ngStyle]="{height: (squareSize$ | async) + 'px', width: (squareSize$ | async) + 'px'}"></span>

<img
  class="piece clickable"
  *ngIf="tile?.piece?.type !== 'empty'"
  [style.width.px]="squareSize$ | async"
  [src]="imgSrc"
/>
</div>
