/* You can add global styles to this file, and also import other style files */
body {
    background-color: #272727;
}

:root {
    --black-square: #769656;
    --white-square: #eeeed2;
    --selected-square: #dada85ac;
}
