.board-container {
    justify-content: center;
    // display: block;
    h1, p {
        color: white;
        font-family: 'Roboto', sans-serif;
    }

    h1 {
        margin-bottom: 0;
    }
}

.board {
    // $boardSize: 640px;
    // width: $boardSize;
    background-image: url('../../../assets/board.svg');
}

.boardBorders {
    border: 1px solid #000;
    width: 640px;
    height: 640px;
}

.controlls {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 80px;

    button {
        padding: 12px;
        margin: 0 5px;
        background: #fff;
        border: 1px solid #000;
        border-radius: 5px;
        transition: all .5s ease;
    }

    button:hover {
        cursor: pointer;
        background: #d6d6d6;
    }
}
