<div class="board-container">
    <div class="board" [ngStyle]="{'width': boardSizeSig() + 'px', 'height': boardSizeSig() + 'px'}">
        <div class="board-tiles">
            @if (lastMove) {
                <!-- <app-last-move [move]="lastMove">
                </app-last-move> -->
            }
            @for (tile of boardTilesSig(); track tile.square; let i = $index) {
                <app-square [tileSig]="tile" #sq [attr.name]="tile.squareName" (squareClicked)="squareClicked($event)"></app-square>
            }
        </div>
        <app-coords [isRank]="true" [isBlackView]="true"></app-coords>
        <app-coords [isBlackView]="true"></app-coords>
    </div>
    <div class="board-details">
        <div class="controlls">
            <button (click)="removeBoardSize()">Down</button>
            <button (click)="addBoardSize()">Up</button>
            <button (click)="resetFen()">Reset Fen</button>
            <!-- TODO: Check this line again it used to be givenFen -->
            <input type="text" name="givenFen" [(ngModel)]="userFen" />
            <button (click)="setFen()">Set Fen</button>
        </div>
    </div>
</div>
