.board-container {
    position: relative;
    display: flex;
    justify-content: center;
}

.board {
    background-image: url('../../../assets/board.svg');
    background-size: cover;
    display: block;
    margin: 2rem;
    position: absolute;
    display: flex;
}

.board-details {
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.controlls {
    display: flex;
    position: absolute;
    top: 650px;
    margin-top: 20px;
    margin-bottom: 80px;

    button {
        padding: 12px;
        margin: 0 5px;
        background: #fff;
        border: 1px solid #000;
        border-radius: 5px;
        transition: all .5s ease;
    }

    button:hover {
        cursor: pointer;
        background: #d6d6d6;
    }
}